:root {
  touch-action: pan-x pan-y;
  height: 100% 
}

@font-face {
    font-family: "tiny";
    src: url("./tiny.woff") format("opentype");
    
}
body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.hud{
    position: relative;
    font-family: 'tiny';
    font-size:22px;
    color: beige;
    left: 360px;
}
#hudStats{
    position: relative;
    top:-30px;
    font-size: 25px;
}
#controls{
    position: relative;
    left: 30%;
    top: 82%
}
#laps-lable{
    position: relative;
    left: 30px;
}
#lapTimes {
    font-size: 18px;
    height: 300px;
    width: 276px;
    border: 2px solid white;
    padding: 10px;
    position: inherit;
    top: 10px;
    left: 0px;
}

#game-window {
    position: relative;
    /* align elements (0,0) at center */
    top: 0px;
    left: 46%;
    /* compensate for (0,0) being top left by shifting up and left 50% of elements dimentions */
    image-rendering: pixelated;
    transform-origin: top center;
    transform:  scale(8);
    border: 2px solid black;
}

#game-container{
    transform: scale(1);
    transform-origin: top left;
    top: 0px;
    left: 0px;
    width: 1900px;
    height: 850px;
}
